<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdPJ4dTx3jEZGqgwHV0iDYv9NN5eROikw</string>
	<key>GCM_SENDER_ID</key>
	<string>659266824271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coachConnect</string>
	<key>PROJECT_ID</key>
	<string>coachconnect-43454</string>
	<key>STORAGE_BUCKET</key>
	<string>coachconnect-43454.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659266824271:ios:6ea05b26066ef7a4ece23a</string>
</dict>
</plist>